@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Eulyoo1945-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  word-break: keep-all;
}
code {
  white-space: pre-wrap;
}
