pre,
code {
  font-size: 16px !important;
  font-family: 'Inconsolata', monospace !important;
}
a {
  position: relative;
  text-decoration: none;
  &:link {
    color: #dea584;
  }
  &:visited {
    color: #dea584;
    box-shadow: 0 0 20px #dea584;
  }
}
body:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(img) {
  > a:hover:after {
    content: '';
    position: absolute;
    width: calc(100% + 6px);
    height: 4px;
    left: -2px;
    bottom: -4px;
    background-color: linen;
    border-radius: 5px;
    mix-blend-mode: darken;
    opacity: 0.6;
  }
}
