ul li {
    list-style-type: none;
    position: relative;
}

blockquote {
    color: hsla(0, 0%, 0%, 0.6);
    background-color: hsla(0, 0%, 0%, 0.04);
    padding: 20px;
    border-radius: 10px;
    font-weight: 500;
}

blockquote p {
    margin: 0;
}

div>ul li::before {
    content: '📍';
    margin-left: -20px;
    margin-right: 10px;
}

a div {
    background-color: azure;
}