@font-face {
  font-family: Font;
  src: url('./fonts/JetBrainsMono-Regular.ttf');
  font-weight: normal;
}

:root {
  --px: calc(0.8px + 0.05335vmin);
  --cool-blue-rgb: 67, 81, 176;
  --cool-blue: rgba(var(--cool-blue-rgb), 1);
  --color-txt: var(--cool-blue);
  --color-txt-secondary: var(--cool-blue);
  --color-bg: var(--oc-white);
  --color-quote-bg: var(--color-bg);
  --color-quote-txt: var(--color-txt);
  --color-quote-border: var(--color-txt);
  --color-quote-shadow: var(--color-txt);
  --color-code-border: var(--color-txt-secondary);
  --color-code-txt: var(--color-txt-secondary);
  --color-code-bg: rgba(var(--cool-blue-rgb), 0.05);
  --color-link: var(--color-txt);
  --color-link-bg: var(--color-bg);
  --font-code: Font, -apple-system, monospace;
}

* {
  line-height: 1.7;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-txt);
  word-break: keep-all;
  font-size: calc(14 * var(--px));
  font-family: var(--font-code);
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: none;
  font-smooth: auto;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.4em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.8em 0 0.5em;
  word-break: keep-all;
  word-wrap: break-word;
}

a {
  color: var(--color-txt);
  text-decoration: none;
}

p img {
  max-width: 100%;
}

.utterances {
  max-width: inherit;
}

code,
pre {
  font-family: var(--font-code);
}

.grvsc-container.light-default-light {
  background-color: var(--color-code-bg);
  color: var(--color-code-txt);
  border-radius: 0;
  font-size: calc(12 * var(--px));
}
